.navbar-default{
    background-color: #282828;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-nav > li > a{
    padding: 30px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
    background-color: #ff591b;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}





header{
    background-color: #101010;
    height: 200px;
}

section.home{
    height: 400px;
    background-position: center center;
    background-size: 100% auto;
}
section.scr{
    background-image: url(http://murware.com/media/images/gameheaders/superChainReaction.png);
}
section.oley{
    background-image: url(http://murware.com/media/images/gameheaders/oleyPoley.png);
}
section.bs{
    background-image: url(http://murware.com/media/images/gameheaders/barnStormers.png);
}