section.home{
    height: 350px;
    background-position: center center;
    background-size: 100% auto;
}
section.scr{
    background-image: url(http://murware.com/media/images/gameheaders/superChainReaction.png);
}
section.oley{
    background-image: url(http://murware.com/media/images/gameheaders/oleyPoley.png);
}
section.bs{
    background-image: url(http://murware.com/media/images/gameheaders/barnStormers.png);
}